.margin-side{
    width: 25%;
    margin: auto; 
    text-align: center;
}
.table-design{
    width: 50%;
    margin: auto;
    border: 1px solid black;
    
}
.button-size{
    width: 50%;
    margin: auto;
}
.table-design td{
    border: 1px solid black;
    width: auto;
}
.button-custom{
    background-color: #bbbbbb;
    text-decoration: none;
    color: #111111;
    width: 100%;
    padding: 0.5em;
    border: 5px;
}
.button-custom:hover{
    background-color: #dddddd;
}